* {
  flex-wrap: wrap;

  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {

  background-color: antiquewhite;
}

h2 {
  margin-left: 130px;
  font-size: 25px;
  align-items: center;

}


li {
  list-style-type: none;
  padding: 0;
}

div {
  background-color: aliceblue;
}

main {

  display: flex;
  justify-content: space-around;


}

img {
  display: inline-flex;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  border: 3px solid antiquewhite;
}

.comida img {
  display: inline-flex;
  width: 250px;
  height: 250px;
  border-radius: 30%;
  margin-right: 50px;
  margin-left: 50px;

}

.logo {
  width: 30px;
  height: 30px;
}

.dados {

  display: inline-block;
  margin-left: 150px;


}

.container-dados {
  
  text-align: center;
  
}

.container-dessert,
.container-food {
  background-color: antiquewhite;

}

footer {
  background-color: #866fc5;
  color: white;
  padding: 50px;
  text-align: center;

}