* {
  /* border: 2px solid red; */
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {

  background-color: rgb(209, 229, 237);
}

h2 {
  margin-left: 130px;
  font-size: 25px;
  align-items: center;

}


li {
  list-style-type: none;
  padding: 0;
}

div {
  background-color: aliceblue;
}

main {

  display: flex;
  justify-content: space-around;


}

img {
  margin-top: 30px;
  display: inline-flex;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  border: 3px solid rgb(209, 229, 237);
}

.comida img {
  display: inline-flex;
  width: 250px;
  height: 250px;
  border-radius: 30%;
  margin-right: 50px;
  margin-left: 50px;
  border: 3px solid aliceblue;
}

.logo {
  width: 30px;
  height: 30px;
  align-items: center;
}

.dados {
  align-items: center;
  display: inline-block;
}

.container-dados {

  text-align: center;

}

.container-dessert,
.container-food {
  background-color: rgb(209, 229, 237);

}

footer {
  background-color: #866fc5;
  color: white;
  padding: 50px;
  text-align: center;

}